.Cart {
    width: 700rem;
    position: fixed;
    bottom: 50rem;
    height: 80rem;
    background-color: #333;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 50rem;
}


.Icon {
    width: 80rem;
    position: absolute;
    bottom: -10rem;
}

.Icon img{
    width: 100%;
}

.TotalAmount{
    background-color: red;
    position: absolute;
    right: -16rem;
    padding: 6rem;
    border-radius: 50%;
    /* width: 36rem; */
    min-width: 36rem;
    text-align: center;
}

.Price, .Nomeal{
    margin-left: 120rem;
    /* text-align: center; */
    display: flex;
    align-items: center;
    font-size: 36rem;
    font-weight: bold;
}
.Nomeal{
    color: #aaa;
}

.Price::before {
    content: '￥';
    position: relative;
    top: 4rem;
    font-size: 20rem;
}

.Button{
    border: none;
    width: 180rem;
    font-size: 32rem;
    border-radius: 50rem;
    background-color: #FCBF49;
}

.Disabled {
    background-color: #777;
    color: #eee;
}

