.CartDeteail{
    background-color: #fff;
    width: 100%;
    font-size: 24rem ;
    position: absolute;
    bottom: 120rem;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    display: flex;
    flex-flow: column;
    max-height: 800rem;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30rem;
}

.Header span {
    margin-left: 14rem;
}

.Clear{
    color: #aaa;
    font-size: 24rem;
}

.MealList {
    overflow: auto;
    /* background-color: #bfa; */
    }

